#Head {
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

#Head h1 a span {
   font-size: 14px;
   color:#fff;
}

.MessageForm,
.Tabs,
.Headings {
	display: block;
   border-bottom: 1px solid #abdafb;
   padding: 5px 8px;
   margin: 0;
   background: #424242;
   position: relative;
}

.Box {
   border-radius: 1px;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   background: #a9a9a9;
   color: #888;
   padding: 6px 10px;
   margin: 0 0 10px;
	box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;
}

a {
   text-decoration: none;
   color: #d71e00;
}
a:hover {
   text-decoration: none;
   color: #ff2600;
}

a.BigButton {
   text-align: center;
   display: block;
   cursor: pointer;
   margin: 0 0 10px;
   font-size: 15px;
   font-weight: bold;
   padding: 8px 0;
	background: #f8f8f8;
	background:-webkit-gradient(linear, center bottom, center top, from(#cccccc), to(#ffffff));
	background:-moz-linear-gradient(top, #ffffff, #cccccc);
	-pie-background:linear-gradient(top, #ffffff, #cccccc);
	background:linear-gradient(top, #ffffff, #cccccc);
   color: #ab1500;
	text-shadow: 0 1px 0 #fff;
   border: 1px solid #999;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
	box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;  
   }
a.BigButton:hover {
   color: #ff2600;
   border: 1px solid #666;
	box-shadow: 0px 0px 5px #aaa;
	-moz-box-shadow: 0px 0px 5px #aaa;
	-webkit-box-shadow: 0px 0px 5px #aaa;  
}
